<h1>Create an article</h1>
<% if @article.errors.any? %>
  <%= @article.errors.full_messages %>
  <%end %>
<%= form_for @article do |f| %>
<!--  byro7 3la articles path post method hwa ruby byfham f lw 8yar l path da hydeni error-->

  <p>

    <%= f.label :title %><br/>

    <%= f.text_field :title %>

  </p>

  <p>

    <%= f.label :description %><br/>

    <%= f.text_area :description %>

  </p>

  <p>

    <%= f.submit %>

  </p>

<% end %>
